<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ErukaLearn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/ad778f42b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css//button.css" type="text/css">
    <style>
        body {
            padding: 0;
            margin: 0;
            background-image: url("https://img.freepik.com/free-vector/smooth-white-wave-background_52683-55288.jpg?w=2000");
            /* background-repeat: no-repeat; */
            background-size: cover;
            background-position: center;
        }
        #testbg{
            font-size: larger;
            background-image: url('https://img.freepik.com/premium-vector/halftone-dots-white-background-gray-dots-halftone-texture_47243-1127.jpg');
            background-size: contain;
        }
    </style>
</head>
<body>
    <div>
        <% if(error == "WRONG_PASSWORD") { %>
            <script>swal({title: "Invalid",text: "Username or password",icon: "warning", dangerMode: true});</script>
        <% } else {
            if(error == "INVALID_SESSION") { %>
            <% } 
            if(error == "INTERNAL_SERVER_ERROR") { %>
                <script>swal({title: "Internal Server Error",text: "Something went wrong",icon: "warning", dangerMode: true});</script>
            <% }
        } %>   
    </div>
    <div class="position-fixed top-50 start-50 translate-middle justify-content-center align-items-center text-center p-5 w-100">
        <div class="d-flex">
            <div class="col-8">
                <img src="https://www.mobmaxime.com/wp-content/uploads/2022/11/uwp-development.webp" alt="employee-iuh-background-logo">
            </div>
            <div id="testbg" class="col-4 p-3 align-self-center">
                <img src="https://media.iuh.edu.vn/Media/1/Images/logo-loginb2c44cab-5.png" alt="logo-iuh">
                <h3 style="color: rgb(7, 73, 73);">Cổng quản lý thông tin</h3>
                <i class="fab fa-leanpub text-danger"></i>
                <p class="fs-4" style="color: rgb(13, 204, 204);">ĐĂNG NHẬP TÀI KHOẢN</p>
                <hr>
                <form action="employee-login" method="post" enctype="multipart/form-data">
                    <input type="text" placeholder="Nhập mã số nhân viên" class="my-1 form-control p-3" name="username" required autofocus>
                    <input type="password" placeholder="Nhập mật khẩu" class="my-1 form-control p-3" name="password" required>
                    <div><button type="submit" class="w-100 text-white p-3 fw-bold import-button" style="background-color: rgb(13, 204, 204);">Đăng nhập</button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 text-success small p-2">
        Secure <i class="fas fa-shield-alt"></i>
    </div>
</body>
<script>
    const remindBackup = localStorage.getItem('remindBackup');
    if(remindBackup && remindBackup === 'reminded') {
        localStorage.setItem('remindBackup', true);
    }
</script>
</html>