<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../images/favicon.ico">
    <title>ErukaLearn</title>
</head>
<body>
    <a href="/admin">admin</a>
    &emsp;
    <a href="/employee">employee</a>
    &emsp;
    <a href="/student">student</a>
    &emsp;
    <a href="/teacher">teacher</a>
</body>
</html>