* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('https://res.cloudinary.com/dopzctbyo/image/upload/v1682548446/sv_dkhp/dotted-paper-background_g4nk1c.jpg');
    background-size: contain;
}
button, input{
    outline: none;
}
button{
    border: none;
}
.styleline{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/dopzctbyo/image/upload/v1682548864/sv_dkhp/university-background-04_l2odu4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navigation-item{
    color: seagreen;
    border-bottom: 1px solid lightgray;
    text-decoration: none;
}
.navigation-item:hover{
    cursor: pointer;
    color: black;
    text-decoration-line: underline;
    font-weight: 900;
    color: white;
    background-color: seagreen;
}
.navigation-item-active{
    border-bottom: 1px solid lightgray;
    text-decoration: none;
}