* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('https://res.cloudinary.com/dopzctbyo/image/upload/v1682548446/sv_dkhp/dotted-paper-background_g4nk1c.jpg');
    background-size: contain;
}