* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('https://media.istockphoto.com/id/927772590/vector/dotted-paper-background.jpg?s=612x612&w=0&k=20&c=KGlRB32MYf6K-r3Yxghv7oGy1a7QfcfrwG0I5d5BUSI=');
    background-size: contain;
}