<div class="col-lg-2 border">
    <ul class="nav flex-column boxsh">
        <li class="nav-item border">
            <a class="nav-link" href="javascript:void(0)" id="manage-student" onclick="highlight('manage-student')">Sinh viên</a>
        </li>
        <li class="nav-item border">
            <a class="nav-link" href="javascript:void(0)" id="manage-class" onclick="highlight('manage-class')">Lớp danh nghĩa</a>
        </li>
        <li class="nav-item border">
            <a class="nav-link" href="javascript:void(0)" id="manage-teacher" onclick="highlight('manage-teacher')">Giáo viên</a>
        </li>
        <li class="nav-item border">
            <a class="nav-link" href="javascript:void(0)" id="manage-course" onclick="highlight('manage-course')">Khóa học</a>
        </li>
        <li class="nav-item border">
            <a class="nav-link" href="javascript:void(0)" id="manage-department" onclick="highlight('manage-department')">Khoa</a>
        </li>
        <li class="nav-item border">
            <a class="nav-link" href="javascript:void(0)" id="manage-major" onclick="highlight('manage-major')">Ngành</a>
        </li>
        <li class="nav-item border">
            <a class="nav-link" href="javascript:void(0)" id="manage-department-announcement" onclick="highlight('manage-department-announcement')">Thông báo khoa</a>
        </li>
        <li class="nav-item border">
            <a class="nav-link" href="javascript:void(0)" id="manage-unitclass" onclick="highlight('i-btn')">Lớp học phần</a>
        </li>
        <li class="nav-item border">
            <a class="nav-link" href="javascript:void(0)" id="manage-timetable" onclick="highlight('manage-timetable')">Thời khóa biểu</a>
        </li>
        <li class="nav-item border">
            <a class="nav-link" href="javascript:void(0)" id="manage-debt" onclick="highlight('manage-debt')">Công nợ</a>
        </li>
        <li class="nav-item border">
            <a class="nav-link text-secondary" href="#">Đăng xuất</a>
        </li>
    </ul>
</div>